{% extends "news/core.html" %}
{% load static %}

{% block title %}Foros - {{categoria.category_title}}{% endblock %}

{% block content%}

  <div class="container col-md-9">
    <!-- Lista de categorías de foros -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Foros Disponibles</h5>
        <div class="list-group">
          {% for post in posts %}
          <a href="{% url 'post_detail' post.pk%}" class="list-group-item list-group-item-action">{{ post.post_title}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{%endblock%}