{% extends "news/core.html" %}
{% load static %}

{% block title %}Chaos Foros - Inicio{% endblock %}

{% block content %}
  <!-- CARRUSEL -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="text-center mt-5 mb-4">Que está pasando ahora</h1>
        <div id="carouselExampleCaptions" class="carousel slide"
          data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="noticia1.html"><div class="vignette-overlay"><img
                    src="{% static 'images/imagen2.webp' %}"
                    class="d-block w-100" alt="..."></div></a>
              <div class="carousel-caption d-none d-md-block">
                <h5>Antimateria</h5>
                <p>La antimateria a creado una gran conmocion en los
                  cientificos.</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="vignette-overlay"><a href="Noticia2.html"><img src="{% static 'images/Robosiglo.jpg' %}"
                class="d-block w-100" alt="..."></a></div>
              <div class="carousel-caption d-none d-md-block">
                <h5>El "robo del siglo" en Chile</h5>
                <p>un grupo de delincuentes robó un
                  camión de valores de la empresa de seguridad
                  Brink's en la comuna de Maipú, en Santiago de
                  Chile. El hecho generó una gran atención
                  mediática debido a la audacia y la magnitud
                  del robo, que fue estimado en alrededor
                  de 14 millones de dólares.</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="vignette-overlay"><img src="{% static 'images/climafrio.jpg' %}"
                  class="d-block w-100" alt="..."></div>
              <div class="carousel-caption d-none d-md-block">
                <h5>Temperaturas bajo cero</h5>
                <p>Conoce las proyecciones del
                  tiempo para Santiago esta semana</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button"
            data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"
              aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button"
            data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon"
              aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN CARRUSEL  -->
  <div class="container mt-5">
    <div class="row">
      <!-- Noticia 1 -->
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="{% static 'images/imagen2.webp' %}" class="card-img-top"
            alt="Kaos Noticias Chile">
          <div class="card-body">
            <h5 class="card-title">Antimateria</h5>
            <p class="card-text">La antimateria crea una gran conmocion en los
              cientificos.</p>
            <a href="#" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
      <!-- Noticia 2 -->
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="{% static 'images/Robosiglo.jpg' %}" class="card-img-top"
            alt="Kaos Noticias Chile">
          <div class="card-body">
            <h5 class="card-title">El "robo del siglo" en Chile</h5>
            <p class="card-text">Un grupo de delincuentes robó un camión
              de valores de la empresa de seguridad Brink's en la comuna de
              Maipú, en Santiago de Chile.
              El hecho generó una gran atención mediática debido
              a la audacia y la magnitud del robo, que fue estimado en
              alrededor
              de 14 millones de dólares.</p>
            <a href="Noticia2.html" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
      <!-- Noticia 3 -->
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="{% static 'images/climafrio.jpg' %}" class="card-img-top"
            alt="Kaos Noticias Chile">
          <div class="card-body">
            <h5 class="card-title">Temperaturas Bajo cero</h5>
            <p class="card-text">Conoce las proyecciones
              del tiempo en Santiago para esta semana</p>
            <a href="#" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}