{% extends "news/core.html" %}
{% load static %}

{% block title %}Perfil - {{user_t.username}}{% endblock %}

{% block content%}

<div class="container mt-8">
        <div class="row">
        <div class="col-md-3">
            <!-- Carta de perfil -->
            <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{user_t.username}}</h5>
                <p class="card-text">
                  {% if profile.bio %}
                    {{profile.bio}}
                  {%else %}
                    Hola! Soy un usuario nuevo y no he cambiado mi descripcion
                  {%endif%}
                </p>
            </div>
            </div>
        </div>

            <div class="col-md-4">
                <!-- Detalles de perfil -->
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Información del Perfil</h5>
                    <p class="card-text">Nombre: <span class="font-weight-bold">{{user_t.username}}</span></p>
                    <p class="card-text">Email: <span class="font-weight-bold">{{user_t.email}}</span></p>
                    {% if user_t == user %}
                    <a href="#" class="btn btn-primary">Editar Perfil</a>
                    <br>
                    <a href="{%url 'create_post'%}" class="btn btn-success mt-2">Publicar</a> <!-- Botón para publicar -->
                    {% endif %}
                </div>
                </div>
            </div>

            

        </div>

    </div>

    <div class="container mt-4">
        <div class="row">
        <div class="col-md-8">
            <!-- Post -->
            <div class="card mb-3">
            <div class="card-body">
                <h1><strong>Publicaciones</strong></h1>
                {% if posts%}
                <ul>
                  {% for post in posts %}
                  <li>
                    <h5 class="card-title"><a>{{post.post_title}}</a></h5>
                    <p class="card-text">{{post.post_story}}</p>
                  </li>
                  {%endfor%}
                </ul>
                {% else %}
                  <p class="card-text">Se ve bastante vacio por aqui</p>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock %}
